body {
    width: 1152px;
    margin: 0 auto;
}


.menu {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.nuv {
    display: flex;
    position: absolute;
    right: 10px;
}

.nuv li {
 margin-right: 10px;
}

.top {
    background-image: url(./folder/visual_1_pc.png);
    width: 1152px;
    background-size: cover;
    height: 600px;
}

.rightrogo {
    background-image: url(./folder/visual_text_pc.png);
    background-size:cover; 
    height: 300px;
    width: 600px;
    position: fixed;
    position: absolute;
    right: 20px;
    bottom: -50px;
    transform: rotate(0deg);
}

.rogo {
    position: absolute;
    top: 10px;
    left: 10px;
}
/* latest */
h1 {
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.post {
    display: flex;
}

.post li {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 300px;
}
/* フッター */

.footer {
    height: 100px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    color: white;
}